body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #000;
  align-items: center;
  border-bottom: 1px solid #39FF14;
}

#modo-oscuro, #abrir-menu, #cerrar-menu {
  background: none;
  border: none;
  color: #39FF14;
  font-size: 16px;
  cursor: pointer;
}

aside#menu-lateral {
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  width: 200px;
  height: 100%;
  padding: 10px;
  display: block;
  border-right: 1px solid #39FF14;
  z-index: 1000;
}

#menu-lateral nav button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#menu-lateral nav button.activo {
  background-color: #39FF14;
  color: #000;
  font-weight: bold;
}

main {
  margin-left: 210px;
  padding: 20px;
}

.seccion {
  display: none;
}

.seccion.visible {
  display: block;
}

.tarjeta {
  background: #222;
  border: 1px solid #39FF14;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

canvas {
  max-width: 100%;
  background-color: #000;
  border: 1px solid #39FF14;
  border-radius: 10px;
  margin-top: 10px;
}

.ver-grafico {
  margin-top: 10px;
  display: inline-block;
  color: #39FF14;
  cursor: pointer;
}
