body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000000;
}

header {
  background-color: #2e7d32; /* Verde */
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

main {
  padding: 20px;
}

select, button {
  padding: 6px 12px;
  margin: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

#contenidoDinamico table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

#contenidoDinamico td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Modo Oscuro */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode header {
  background-color: #1b5e20;
}

body.dark-mode select,
body.dark-mode button {
  background-color: #388e3c;
}
